body {
    background-image: url("https://images.pexels.com/photos/177557/pexels-photo-177557.jpeg?cs=srgb&dl=pexels-negative-space-177557.jpg&fm=jpg&_gl=1*1tbe6pc*_ga*MTI5MTk1NTQ5Mi4xNjgxODcwOTg0*_ga_8JE65Q40S6*MTY5ODIxNDc3Ni45LjAuMTY5ODIxNDc3Ni4wLjAuMA..");
    background-size: cover;
}

.profilepic {
    margin-right: 1rem;
}

.main-title {
    font-size: 3rem;
}

.title-text {
    font-size: 1.5rem;
}

.headertopbar {
        border-bottom: 4px solid black;
}

.myname {
    color: black;
    font-size: 40px;
    font-weight: bold;
}
